<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyq.mapper.DictMapper">

	<!-- 查询所有报名信息 -->
	<select id="getAllApplyInfo" parameterType="applyInfo"
		resultType="applyInfo">
		select * from t_applyInfo
	</select>


</mapper>